/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */

body {
  background: $body-background-color;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
}

header {
  font-size: 2em;
  margin: 20px;
  color: $caption-color;
  text-align: center;
  background: $foreground-color center 20px no-repeat;
  padding: 30px 30px 30px;
  background-size: 160px;
}

main {
  color: $foreground-color;
  text-align: center;
  padding: 10px;
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.logo {
  margin: 0 auto;
  display: block;
}

// component styles

.settings-window {
  margin: 20px;
  background: $foreground-color;
  padding: 30px 30px 30px;
  display: flex;
  justify-content: space-around;
}

.settings-window > div {
  color: $caption-color;
  font-size: x-large;
  margin: 10px;
  padding: 20px;
  border-style: groove;
  border-color: $accent-color;
  display: flex;
  flex-direction: column;
}

.settings-window > div > div {
  font-size: 18px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.settings-window > div > div > input {
  padding: 8px 0px 8px;
  margin: 5px 0px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.streaming-window {
  // font-size: 1em;
  margin: 20px;
  background: $foreground-color;
  padding: 30px 30px 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.streaming-window > h1 {
  color: $caption-color;
  font-size: xx-large;
  padding: 10px;
}

.action-button {
  border: none;
  color: $foreground-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &.start {
    background-color: #4caf50; /* Green */
  }

  &.stop {
    background-color: #f44336; /* Red */
  }

  &:disabled {
    background-color: #e7e7e7; /* Grey */
    cursor: not-allowed;
  }
}

.display-text-window {
  width: 100%;
}
